@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-ExtraBold.eot');
    src: url('BlauerNue-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-ExtraBold.woff2') format('woff2'),
        url('BlauerNue-ExtraBold.woff') format('woff'),
        url('BlauerNue-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-Heavy.eot');
    src: url('BlauerNue-Heavy.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-Heavy.woff2') format('woff2'),
        url('BlauerNue-Heavy.woff') format('woff'),
        url('BlauerNue-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-Light.eot');
    src: url('BlauerNue-Light.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-Light.woff2') format('woff2'),
        url('BlauerNue-Light.woff') format('woff'),
        url('BlauerNue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-Medium.eot');
    src: url('BlauerNue-Medium.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-Medium.woff2') format('woff2'),
        url('BlauerNue-Medium.woff') format('woff'),
        url('BlauerNue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-SemiBold.eot');
    src: url('BlauerNue-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-SemiBold.woff2') format('woff2'),
        url('BlauerNue-SemiBold.woff') format('woff'),
        url('BlauerNue-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-Regular.eot');
    src: url('BlauerNue-Regular.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-Regular.woff2') format('woff2'),
        url('BlauerNue-Regular.woff') format('woff'),
        url('BlauerNue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blauer Nue';
    src: url('BlauerNue-Thin.eot');
    src: url('BlauerNue-Thin.eot?#iefix') format('embedded-opentype'),
        url('BlauerNue-Thin.woff2') format('woff2'),
        url('BlauerNue-Thin.woff') format('woff'),
        url('BlauerNue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

